#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container {
  background: linear-gradient(to bottom, #0090cb, #a5d4dd);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  overflow: hidden;
}
.container-dettagli {
  background: linear-gradient(to bottom, #0090cb, #a5d4dd);
  height: 100vh;
  width: 100vw;
  padding: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: left 1s;
}
.temperaturaAttuale {
  font-weight: bolder;
  font-size: 50px;
}
.buttonCloseDettagli {
  position: absolute;
  top: 10px;
  right: 10px;
}
.weatherIcon {
  width: 215px;
}
.card {
  padding: 1em !important;
  margin: 10px;
  border: 0;
}
.card .card-body {
  padding: 0;
}
.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
